In [38]:
import pandas as pd

In [39]:
#Load the dataset

providers = pd.read_csv(r'C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\raw_data\providers_data.csv')
receivers = pd.read_csv(r'C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\raw_data\receivers_data.csv')
food_listings = pd.read_csv(r'C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\raw_data\food_listings_data.csv')
claims = pd.read_csv(r'C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\raw_data\claims_data.csv')

In [40]:
#Check the data

In [41]:
providers.info()              # Check data types
providers.isnull().sum()      # Check missing values
providers.duplicated().sum()  # Check duplicate rows
providers.head()              # See first few row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 6 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Provider_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   Address      1000 non-null   object
 4   City         1000 non-null   object
 5   Contact      1000 non-null   object
dtypes: int64(1), object(5)
memory usage: 47.0+ KB

,Provider_ID,Name,Type,Address,City,Contact
0,1,Gonzales-Cochran,Supermarket,"74347 Christopher Extensions\nAndreamouth, OK ...",New Jessica,-1299
1,2,"Nielsen, Johnson and Fuller",Grocery Store,"91228 Hanson Stream\nWelchtown, OR 27136",East Sheena,+1-925-283-8901x6297
2,3,Miller-Black,Supermarket,"561 Martinez Point Suite 507\nGuzmanchester, W...",Lake Jesusview,001-517-295-2206
3,4,"Clark, Prince and Williams",Grocery Store,"467 Bell Trail Suite 409\nPort Jesus, IA 61188",Mendezmouth,556.944.8935x401
4,5,Coleman-Farley,Grocery Store,"078 Matthew Creek Apt. 319\nSaraborough, MA 53978",Valentineside,193.714.6577

In [42]:
receivers.info()              # Check data types
receivers.isnull().sum()      # Check missing values
receivers.duplicated().sum()  # Check duplicate rows
receivers.head()              # See first few row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Receiver_ID  1000 non-null   int64
 1   Name         1000 non-null   object
 2   Type         1000 non-null   object
 3   City         1000 non-null   object
 4   Contact      1000 non-null   object
dtypes: int64(1), object(4)
memory usage: 39.2+ KB

   Receiver_ID          Name        Type               City           Contact
0            1  Donald Gomez     Shelter     Port Carlburgh     (955)922-5295
1            2  Laurie Ramos  Individual         Lewisburgh      761.042.1570
2            3  Ashley Mckee         NGO  South Randalltown  691-023-0094x856
3            4    Erika Rose         NGO   South Shaneville        8296491111
4            5   John Romero  Individual          Bakerport      067.491.0154

In [43]:
food_listings.info()              # Check data types
food_listings.isnull().sum()      # Check missing values
food_listings.duplicated().sum()  # Check duplicate rows
food_listings.head()              # See first few row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Food_ID        1000 non-null   int64
 1   Food_Name      1000 non-null   object
 2   Quantity       1000 non-null   int64
 3   Expiry_Date    1000 non-null   object
 4   Provider_ID    1000 non-null   int64
 5   Provider_Type  1000 non-null   object
 6   Location       1000 non-null   object
 7   Food_Type      1000 non-null   object
 8   Meal_Type      1000 non-null   object
dtypes: int64(3), object(6)
memory usage: 70.4+ KB

,Food_ID,Food_Name,Quantity,Expiry_Date,Provider_ID,Provider_Type,Location,Food_Type,Meal_Type
0,1,Bread,43,3/17/2025,110,Grocery Store,South Kellyville,Non-Vegetarian,Breakfast
1,2,Soup,22,3/24/2025,791,Grocery Store,West James,Non-Vegetarian,Dinner
2,3,Fruits,46,3/28/2025,478,Catering Service,Lake Regina,Vegan,Breakfast
3,4,Fruits,15,3/16/2025,930,Restaurant,Kellytown,Vegan,Lunch
4,5,Soup,14,3/19/2025,279,Restaurant,Garciaport,Vegan,Dinner

In [44]:
claims.info()              # Check data types
claims.isnull().sum()      # Check missing values
claims.duplicated().sum()  # Check duplicate rows
claims.head()              # See first few row

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Claim_ID     1000 non-null   int64
 1   Food_ID      1000 non-null   int64
 2   Receiver_ID  1000 non-null   int64
 3   Status       1000 non-null   object
 4   Timestamp    1000 non-null   object
dtypes: int64(3), object(2)
memory usage: 39.2+ KB

   Claim_ID  Food_ID  Receiver_ID     Status        Timestamp
0         1      164          908    Pending    3/5/2025 5:26
1         2      353          391  Cancelled  3/11/2025 10:24
2         3      626          492  Completed   3/21/2025 0:59
3         4       61          933  Cancelled    3/4/2025 9:08
4         5      345          229    Pending  3/14/2025 15:17

In [45]:
#Fix text formatting

In [46]:
providers['City'] = providers['City'].str.strip().str.title()
receivers['City'] = receivers['City'].str.strip().str.title()

In [47]:
# Standardize data types

In [48]:
food_listings['Expiry_Date'] = pd.to_datetime(food_listings['Expiry_Date'], errors='coerce')
claims['Timestamp'] = pd.to_datetime(claims['Timestamp'], errors='coerce')

In [49]:
# Handle missing values

In [50]:
providers['Contact'] = providers['Contact'].fillna("Not Available")
receivers['Contact'] = receivers['Contact'].fillna("Not Available")

In [51]:
# Remove duplicates

In [52]:
providers.drop_duplicates(inplace=True)
receivers.drop_duplicates(inplace=True)
food_listings.drop_duplicates(inplace=True)
claims.drop_duplicates(inplace=True)

In [53]:
providers.to_csv("providers_clean.csv", index=False)
receivers.to_csv("receivers_clean.csv", index=False)
food_listings.to_csv("food_listings_clean.csv", index=False)
claims.to_csv("claims_clean.csv", index=False)

print("✅ All datasets cleaned and ready for SQL import.")

✅ All datasets cleaned and ready for SQL import.

In [54]:
# Optional: Save cleaned files to a folder on your PC

save_dir = r'C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\cleaned_data'   #change this to your folder path

# Save all files in that folder
providers.to_csv(f"{save_dir}/providers_clean.csv", index=False)
receivers.to_csv(f"{save_dir}/receivers_clean.csv", index=False)
food_listings.to_csv(f"{save_dir}/food_listings_clean.csv", index=False)
claims.to_csv(f"{save_dir}/claims_clean.csv", index=False)

print(f"💾 Cleaned files saved in {save_dir}")

💾 Cleaned files saved in C:\Users\SHRUTI WALUNJ\OneDrive\Desktop\Labmentix\Project 2 - Food Waste Management\cleaned_data